a{
  text-decoration: none;
  color:inherit;
}
.header{
  display:flex;
}
.header-wrap{
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color:#000;
  width:100%;
  height:70px;
  z-index: 10;
}
.header img{
  width:70px;
  display:block;
  padding-left: 30px;
}
.header-nav-list{
  display:flex;
  font-weight: bold;
  margin-right: 30px;
}
.header-nav-item:hover{
  opacity: 0.7;
}
.header-nav-item:not(:last-child){
  margin-right:30px;
}
.menu {
  display: none;
}
.drawer-nav-list{
  display:none;
}
main{
  padding-top: 70px;
}
.main-view-img{
  position:relative;
  width:100%;
  object-fit: cover;
}
.main-view-img img{
  width:100%;
}
.main-view__content{
  position:absolute;
  top:30%;
  left:15%;
  color:#fff;
  width:70%;
  text-align: center;
}
.main-view__ttl{
  font-size:50px;
  padding:0;
}
.main-view__sub-ttl{
  font-size: 20px;
}
.sub-main-box{
  background-color: #000;
  width:100%;
  padding:0;
}
.sub-main__ttl{
  color:#fff;
  font-size:30px;
  margin-bottom: 30px;
  padding:50px 0 0 50px;
}
.sub-main__content{
  color:#fff;
  width:80%;
  line-height: 25px;
  padding:0 0 50px 0;
  text-align: center;
  margin:0 auto;
}
@media screen and (max-width: 768px) {
  .sub-main-box{
    width:100%;
    padding:0;
    height:400px;
  }
  .sub-main__ttl{
    padding:80px 0 0 70px;
  }
  .sub-main__content{
    width:80%;
    padding:0 20px;
  }
}
.service__ttl{
  text-align: center;
  font-size: 30px;
  margin-top:100px;
}
.service-flex1,
.service-flex2{
  display:flex;
  justify-content: space-between;
  margin:30px 230px;
}
.service-img{
  width:80%;
}
.service-content__ttl{
  font-size: 20px;
  font-weight: bold;
  padding:10px 0;
}
.service-content{
  line-height: 30px;
  width:80%;
}
@media screen and (max-width: 768px) {
  .service-wrap{
    width: 80%;
    margin:0 auto;
  }
  .service-flex1,
  .service-flex2{
  display: block;
  margin:0 auto;
}
.service__ttl{
  margin-bottom: 50px;
}
.service-img{
  width:100%;
}
}
.btn-area{
  text-align: center;
  margin:60px;
}
.btn{
  background-color:#cc0000;
  color:#fff;
  font-weight: bold;
  padding:15px 70px;
  cursor:pointer;
}
.btn:hover{
  opacity: 0.7;
}
.news-box{
  background-color: #222222;
  height: 500px;
}
.news-wrap{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .news-box{
    width:100%;
  }
}
.news-btn-area{
  padding:15px 0;
  margin:10% 10% 0 0;
}
.news-box h3{
  color:#fff;
  font-size: 30px;
  padding-top:100px;
  margin-left: 10%;
}
.news-box p{
  background-color: #fff;
  padding:25px 60px;
  width:60%;
  margin:15px auto;
  cursor: pointer;
}
.news-box p:hover{
  background-color: #c0c0c0;
}
.news-box span{
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .news-box h3{
    margin:0 0 20px 100px;
  }
  .news-btn-area{
    padding:0;
    margin: 100px 100px 0 0;
  }
  .btn{
    padding:15px 20px;
  }
}
.blog{
  display:flex;
  justify-content: space-between;
  margin:50px auto;
}
.blog-content-img{
  width:80%;
  margin-bottom: 10px;
  cursor:pointer;
  margin:0 auto;
}
.blog-content-img img{
  width:100%;
}
.blog-content img:hover{
  opacity: 0.7;
}
.blog-wrap h3{
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}
.blog-content p{
  font-weight: bold;
  font-size: 18px;
  padding:15px 0;
  cursor: pointer;
}
.blog-content p:hover{
  opacity: 0.7;
}
.blog-content{
  margin:0 auto;
}
.blog-description{
  margin-left:10%;
}
@media screen and (max-width: 768px) {
  .blog-wrap{
    width:80%;
    margin:0 auto;
  }
  .blog{
    display:block;
  }
  .blog-content-img{
    width:100%;
  }
  .blog-description{
    margin-left:0;
  }
}
.campany-recruit-wrap{
  display:flex;
  color:#fff;
  font-size:30px;
  text-align: center;
  height: 300px;
  line-height: 280px;
  margin-bottom: 100px;
}
.campany{
  background:#cc0000;
  width:50%;
  cursor: pointer;
}
.campany:hover,
.recruit:hover{
  opacity: 0.7;
}
.recruit{
  background:#222222;
  width:50%;
  cursor:pointer;
}
@media screen and (max-width: 768px) {
  .campany-recruit-wrap{
    width:100%;
  }
}
.contact-box{
  width:100%;
  height:300px;
  background-color: #eeeeee;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact-box{
  width:100%;
}
}
.contact-box h3{
  font-size: 30px;
  padding-top: 50px;
}
.contact-box p{
  padding-top:30px;
}

.footer{
  width:100%;
  background-color: #000;
  color:#fff;
  padding:20px 0;
  text-align: center;
}
.footer-inner{
  display:flex;
  justify-content: space-between;
  padding:0 20px;
  margin:0 100px;
}
.footer-nav-list{
  display:flex;
  font-size: 12px;
}
.footer-nav-item{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #fff;
}
@media screen and (max-width: 768px) {
  .footer{
    width:100%;
    height:200px;
  }
  .footer-nav-list{
    display:block;
  }
  small{
    padding-top: 100px;
  }
  .footer-nav-item{
    border-left: none;
    padding-top: 15px;
  }
  }
@media screen and (max-width: 768px) {
  .header-nav-list{
    display:none;
  }
  .drawer-nav{
    position: absolute;
    display:block;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: .7s;
    text-align: center;
    z-index:20;
  }
  .drawer-nav-list{
    padding-top: 80px;
  }
  .drawer-nav-item{
    list-style-type: none;
    margin-top: 50px;
    text-decoration: none;
    color: blue
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: -20px;
    top: -5px;
    z-index:30;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in{
    transform: translateX(100%);
  }
  .menu{
    display:inline-block;
    width:36px;
    height:32px;
    cursor:pointer;
    position: relative;
    z-index:30;
    top:20px;
    left:90%;
    position:fixed;
  }
  .drawer-nav-list{
    display:block;
    padding-top:80px;
    text-align: center;
  }
}