body{
  width:1500px;
}
a{
  text-decoration: none;
  color:inherit;
}
.header-wrap{
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color:#000;
  width:100%;
  height:70px;
  padding:0 30px;
}
.header img{
  width:70px;
}
.header-nav-list{
  display:flex;
  font-weight: bold;
  margin-right: 30px;
}
.header-nav-item:not(:last-child){
  margin-right:30px;
}
main{
  padding-top: 70px;
}
.main-view{
  background-image:url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
  padding:280px;
}
.main-view__ttl{
  font-size:50px;
}
.main-view__content{
  font-size: 20px;
}
.sub-main-box{
  background-color: #000;
  width:100%;
  padding:50px 100px;
}
.sub-main__ttl{
  color:#fff;
  font-size:30px;
  margin-bottom: 30px;
}
.sub-main__content{
  color:#fff;
}



.footer{
  width:100%;
  background-color: #000;
  color:#fff;
  padding:20px 0;
  text-align: center;
}
.footer-inner{
  display:flex;
  justify-content: space-between;
  padding:0 20px;
  margin:0 100px;
}
.footer-nav-list{
  display:flex;
  font-size: 12px;
}
.footer-nav-item{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #fff;
}